$background-color: #1a191e;

body {
  min-height: 100vh;
  font-family: "Arimo", sans-serif;
}

.layout {
  background-color: $background-color;
  font-size: 16px;
  // height: 100vh;
  min-height: 100vh;
  // max-height: 100vh;
}

a {
  text-decoration: none;
}
