.dropdown {
  display: block;
  width: 100%;
  height: 2rem;
  font-size: 1rem;
  outline: none;
  border-radius: 2px;
  box-sizing: content-box;
  background: white;
  padding: 0.2rem 0;
  margin: 1em 0;
  border-style: none;
}

.dropdown-item {
  outline: none;
  border-style: none;
}
