.custom-hamburger-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 1.2rem;
  height: 1.9rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
  border-color: #201f23;
  text-align: center;
  border-radius: 2px;
  color: white;
  width: 1.5em;
  font-size: 1em;
  padding: 0.3em 0;
  align-self: flex-start;
  &:focus {
    outline: none;
  }
}

.custom-hamburger-icon {
  width: 1.5rem;
  height: 0.1rem;
  background: #ffffff;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}
//   :first-child {
//     transform: ${({ open }) => open ? 'rotate(45deg)' : 'rotate(0)'};
//   }

//   :nth-child(2) {
//     opacity: ${({ open }) => open ? '0' : '1'};
//     transform: ${({ open }) => open ? 'translateX(20px)' : 'translateX(0)'};
//   }

//   :nth-child(3) {
//     transform: ${({ open }) => open ? 'rotate(-45deg)' : 'rotate(0)'};
//   }
// }

// .sidebar-menu > div {
//   transition: transform 0.3s;
// }
